<template>
  <div id="app">
    <hello-world msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
//import Maps from './components/Maps.vue'
import HelloWorld from './components/HelloWorld.vue'
//import Navbar from './Navbar.vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'app',
  components: {
    'hello-world': HelloWorld,
    //'app-navbar': Navbar
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background-image: linear-gradient(0deg, rgb(40, 29, 56, 0.8), rgb(40, 29, 56, 0.8)),url('http://completeelectrical.biz/wp-content/uploads/2017/03/streetlights.jpg');
  background-size: cover;
}

</style>
