<template>
  <div id="app">
    <map></map>
  </div>
</template>

<script>
import Maps from './components/Maps.vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'app',
  components: {
      'map':Maps,
  }
}
</script>

<style>

</style>
