<template>
  <div class="hello">
    <div id="titleContainer" class="mx-auto" align-v="center">
      <label id="Titre">Parking Spotter</label>
      <div id="txtbx_adresse" >
        <b-form-input size="lg" v-model="text" placeholder="Entrez l'addresse"></b-form-input>
      </div>
      <div id="btn_container">
         <b-button id="btn_search" variant="outline-light">Chercher</b-button>
          <b-button id="btn-map" variant="outline-light" href="AfficheMaps">Voir la carte</b-button>
      </div>
      <div></div>
      </div>   
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
      return {
        text: ''
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#Titre{
  color: snow;
  font-size:400%;
  font-weight:600;
  padding-bottom: 2rem;
}

#titleContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#txtbx_adresse{
  width: 60%;
  margin: 0 auto;
}

#btn_container{
  padding-top: 1rem;
}

#btn_search{
  margin-right: 1rem;
}
.btn{
  font-size: 1.2rem;
}

#hello{
  display: flex;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

}
</style>
